[Unit]
Description=Vigrid ZFS exports Updater Daemon
Wants=network-online.target
After=network.target network-online.target gns3.target

[Service]
Type=forking
User=root
PermissionsStartOnly=true
ExecStart=/Vstorage/GNS3/vigrid/bin-nas/vigrid-daemon-ZFSexportsUPD -R /Vstorage -d -l /var/log/gns3/vigrid.log
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
